[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyteal = {editable = true, path = "./../pyteal"}
py-algorand-sdk = "*"
pylint = "*"
autopep8 = "*"
pycodestyle = "*"
toml = "*"
ipython = "*"
jupyter = "*"
mypy = "*"
pytest = "*"
pytest-timeout = "*"

[dev-packages]

[requires]
python_version = "3.9"
